@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* transition: all .3s; */
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
}
:root {
  --color-teal: #4a9ea6;
  --color-navy: #0e3d51;
  --color-white: #ffffff;
  --color-dark-bluegray: #6f8b98;
  --color-orange: #fec051;
  --color-regular-bluegray: #9fb1bb;
  --color-maintext-blue: #13506c;
  --color-darker-gray: #84898f;
  --color-black: #05161e;
  --color-white2: #f5f7f8;
  --color-white3: #f2f5f7;
  --color-red: #f0665c;
  --color-ligth-bluegray: #bccdd6;
  --color-middle-gray: #00000029;
  --color-white4: #f8fafb;
  --color-ligth-gray: #ececec;
}

/* ///// Global code ///// */
/* ///// Global code ///// */
/* ///// Global code ///// */
/* ///// Global code ///// */
/* ///// Global code ///// */
button:active{
  opacity: .5;
}
button:focus{
  outline: none;
}
button:hover{
  cursor: pointer;
}
@media only screen and (max-width: 1060px) {
  html {
    font-size: 55%;
    transition: all .5s;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 40%;
  }
 
}
@media only screen and (max-width: 670px) {
  html {
    font-size: 34%;
  }
}

/* ///// Global code ///// */
/* ///// Global code ///// */
/* ///// Global code ///// */
/* ///// Global code ///// */
/* ///// Global code ///// */

/* ///// NAV BAR ///// */
/* ///// NAV BAR ///// */
/* ///// NAV BAR ///// */
.navbar {
  display: flex;
  border-bottom: 1px solid var(--color-ligth-gray);
  justify-content: space-between;
  height: 6.5rem;
  position: fixed;
  z-index: 30;
  background: white;
  width: 100vw;
}
.navbar .logo-box {
  display: flex;
  align-items: center;
}
.navbar .logo-box .logo {
  height: 4.3rem;
  padding-left: 2rem;
}

.navbar .button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  transition: all 0.5s;
}

.navbar .button-box .primary-button-box {
  display: flex;
  justify-content: space-between;
  width: inherit;
  position: relative;
}

.navbar .button-box .primary-button-box .btn-links {
  border: none;
  background-color: inherit;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  letter-spacing: 0;
  color: var(--color-maintext-blue);

}
.navbar .button-box .primary-button-box .btn-links .arrow {
  color: var(--color-teal);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#up {
  transform: rotate(180deg);
}
.navbar .button-box .sub-button-box {
  display: flex;
  width: inherit;
  justify-content: space-around;
}

.navbar .button-box .sub-button-box .contract-submission {
  margin-left: 6rem;
  background: var(--color-red) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  
  width: 15rem;
  height: 4.3rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: var(--color-white);
  cursor: pointer;
}

.navbar .button-box .sub-button-box .signin {
  margin-right: 2rem;
  background: var(--color-white) 0% 0% no-repeat padding-box;
  border: 2px solid var(--color-teal);
  border-radius: 5px;
  
  font-size: 1.3rem;
  width: 93px;
  height: 4.3rem;
  color: var(--color-teal);
  cursor: pointer;
}

.navbar .button-box .primary-button-box .btn-links .drop-dwn-list {
  position: absolute;
  background: var(--color-white3) 0% 0% no-repeat padding-box;
  bottom: -130%;
  transform: translateY(100%);
  left: 48%;
  text-align: left;
  list-style: none;
  width: fit-content;
  opacity: 1;
  animation-name: fade;
  animation-duration: 0.5s;
}
#drop-dwn {
  display: flex;
  align-items: center;
}

.navbar .button-box .primary-button-box .btn-links .drop-dwn-list .list-item {
  margin: 1rem;
}

@keyframes fade {
  0% {
    opacity: -1;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 850px) {
  .navbar .button-box {
    width: 60rem;
  }
  .navbar .button-box .primary-button-box .btn-links {
    text-align: left;
  }
  .navbar .button-box .sub-button-box .contract-submission {
    margin: 0 2rem;
  }
  #drop-dwn {
    width: 10rem;
    margin: 0 2rem;
    display: flex;
    align-items: center;
  }

  #closing-cost {
    width: 6rem;
  }
  .navbar .button-box .primary-button-box .btn-links .drop-dwn-list {
    bottom: -40%;
  }
  .navbar .button-box .primary-button-box {
    width: fit-content;
    justify-content: center;
  }
  .navbar .button-box .sub-button-box {
    width: fit-content;
  }
}
.navbar .mob-btn-box {
  display: flex;

  align-items: center;
  width: fit-content;
}
.navbar .mob-btn-box button {
  border: none;
  background: none;
  margin: 0 2rem;
}
#static {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
#show {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  animation-name: moveOnClick;
  animation-duration: .75s;
  animation-timing-function: ease-in-out;
  background-color: var(--color-white);
}
#hide {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 2;
  transform: translateX(100%);
  animation-name: moveOnClick2;
  animation-duration: .75s;
  animation-timing-function: ease-in-out;
  background-color: var(--color-white);
  overflow: hidden;
}
@keyframes moveOnClick {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveOnClick2 {
  0% {
    width: 100vw;
    height: 100vh;
    transform: translateX(0);
  }
  100% {
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
  }
}
.exit-box {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}
.exit-btn {
  background-color: inherit;
}
.mob-nav-box {
  display: flex;
  flex-direction: column;
  margin: 6.5rem 0 0 0;
}
.mob-nav-box .mob-btn-link {
  text-align: left;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-ligth-gray);
  color: var(--color-navy);
  font-weight: 600;
  font-size: 1.9rem;
  font-family: "Open Sans";
}
.mob-nav-box .bug-cover {
  background-color: var(--color-white);
  height: 20rem;
}
.mob-nav-box #demo,
.section1 .sec1-left-box .demo {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.mob-nav-box .mob-btn-link p {
  margin: 1.5rem 2.5rem;
  width: fit-content;
}
.mob-nav-box .mob-btn-link p .dark-arrow {
  width: 2rem;
}
#RR-btn p {
  width: 85vw;
  display: flex;
  justify-content: space-between;
}
.mob-nav-box .drop-dwn-list {
  background: var(--color-white3) 0% 0% no-repeat padding-box;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid var(--color-ligth-gray);
  font-weight: 600;
  font-size: 1.9rem;
  font-family: "Open Sans";
  color: var(--color-navy);
}
.mob-nav-box .drop-dwn-list .list-item {
  margin: 1.5rem 4.5rem;
}
.mob-nav-box #firstload {
  height: 0;
}

.mob-nav-box #hided {
  height: 0rem;
  animation-name: hiding;
  animation-duration: 0.5s;
}
.mob-nav-box #expand {
  height: fit-content;
  animation-name: expanding;
  animation-duration: .5s;
}
@keyframes hiding {
  0% {
    height: 17.9rem;
  }
  100% {
    height: 0;
  }
}

@keyframes expanding {
  0% {
    height: 0;
  }
  100% {
    height: 17.9rem;
  }
}
/* ///// NAV BAR ///// */
/* ///// NAV BAR ///// */
/* ///// NAV BAR ///// */

/* ///// Section 1 ///// */
/* ///// Section 1 ///// */
/* ///// Section 1 ///// */
/* ///// Section 1 ///// */
/* ///// Section 1 ///// */
.section1 {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 70.4rem;
  padding-top: 7rem;
}
.section1 .sec1-left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  /* margin-left: 10.5rem; */

  position: relative;
}
.section1 .sec1-left-box .left-box-main {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  line-height: 5.8rem;
  margin-right: 3rem;
}
.section1 .sec1-left-box .left-box-main .upper {
  color: var(--color-navy);
}
.section1 .sec1-left-box .left-box-main .below {
  color: var(--color-teal);
}
.section1 .sec1-left-box .left-box-sub {
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Open Sans";
  color: var(--color-dark-bluegray);
  margin: 2rem 0;
}
.section1 .sec1-left-box .demo-btn {
  border-radius: 5px;
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Open Sans";
  margin-bottom: 1.5rem;
}
.section1 .sec1-left-box .video-link {
  text-decoration: none;
  color: var(--color-navy);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Open Sans";
}

.section1 .sec1-left-box .video-link .play-circle {
  margin-right: 0.5rem;
}
.section1 .sec1-center-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 43rem;
}

.section1 .sec1-center-box img {
  width: 20rem;
}
.section1 .sec1-center-box .left-phone {
  margin: 5rem 1.5rem 0 0;
  animation-name: goingup;
  animation-delay: .5s;
  animation-duration: 2s;
}

.section1 .sec1-center-box .rigth-phone {
  margin: 0 0 9rem 0;
  animation-name: goingdown;
  animation-duration: 2s;
  animation-delay: .5s;
}
@keyframes goingup {
  0% {
    margin-top: 150rem;
  }
  70% {
    margin-top: -5rem;
  }
  100% {
    margin-top: 5rem;
  }
}
@keyframes goingdown {
  0% {
    margin-bottom: 150rem;
  }
  70% {
    margin-bottom: -1rem;
  }
  100% {
    margin-bottom: 9rem;
  }
}
.section1 .sec1-rigth-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 14rem;
  text-align: left;
  margin-bottom: 13.5rem;
  overflow: hidden;
  min-width: 14rem;
}
.section1 .sec1-rigth-box .rigth-box-main {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Open Sans";
  color: var(--color-navy);
}
.section1 .sec1-rigth-box .rigth-box-main .bold-navy {
  font-weight: 700;
}
.section1 .sec1-rigth-box .rigth-box-sub {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Open Sans";
  color: var(--color-teal);
  margin: 2rem 0;
}
.section1 .sec1-rigth-box .rigth-desktopApp {
  background: none;
  display: flex;
}
.section1 .sec1-rigth-box .rigth-desktopApp img {
  width: 13rem;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
  .section1 .sec1-left-box {
    display: flex;
    align-items: center;
    margin: 5.5rem 0 2.5rem 0;
  }
  .section1 .sec1-left-box .left-box-main {
    text-align: center;
    width: 25rem;
    margin: 0;
  }
  #mob-c-box .mob-left-phone {
    margin: 5rem 1.5rem 0 0;
  }
  #mob-c-box .mob-rigth-phone {
    margin: 0 0 9rem 0;
  }
  .section1 .sec1-rigth-box {
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0;
  }
  .section1 .sec1-rigth-box #mob-rbox-main {
    width: 45rem;
    font-size: 2.5rem;
    margin: 2rem 0 8rem 0;
  }
  .section1 .sec1-rigth-box .demo-box {
    width: 100%;
    height: 17rem;
    background-color: #e3f3ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -2;
  }
  .section1 .sec1-rigth-box .demo-box .demo {
    background-color: var(--color-orange);
    border-radius: 5px;
    font-weight: 500;
    font-size: 2.7rem;
    color: var(--color-white);
    width: 31rem;
    height: 8rem;
  }
  .section1 .sec1-rigth-box .demo-box .video-link {
    text-decoration: none;
    color: var(--color-navy);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Open Sans";
  }
  .section1 .sec1-rigth-box .demo-box .video-link .play-circle {
    margin-right: 0.7rem;
  }
}

/* ///// Section 1 ///// */
/* ///// Section 1 ///// */
/* ///// Section 1 ///// */
/* ///// Section 1 ///// */
/* ///// Section 1 ///// */

/* ///// Section 2 ///// */
/* ///// Section 2 ///// */
/* ///// Section 2 ///// */
/* ///// Section 2 ///// */
/* ///// Section 2 ///// */

.section2 {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 -9rem;
}
.section2 .sec2-upper-box {
  display: flex;
  justify-content: space-evenly;
  z-index: -2;
}
.section2 .sec2-upper-box .sec2-left-box {
  height: 53rem;
}
.section2 .sec2-upper-box .sec2-left-box .hand-phone {
  width: 30rem;
}
.section2 .sec2-upper-box .sec2-rigth-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}
.section2 .sec2-upper-box .sec2-rigth-box .sec2-rbox-title {
  width: 40rem;
  height: fit-content;
}
.section2 .sec2-upper-box .sec2-rigth-box .sec2-rbox-title .main-title {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--color-navy);
  padding: 0 0 1rem 0;
}
.section2 .sec2-upper-box .sec2-rigth-box .sec2-rbox-title .sub-title {
  color: rgb(254, 192, 81);
  font-weight: 700;
  font-size: 1.2rem;
  width: 35rem;
}
.section2 .sec2-upper-box .sec2-rigth-box .sec2-pocket-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40rem;
  width: 65rem;
}
.section2 .sec2-upper-box .sec2-rigth-box .sec2-pocket-list .pocket-item {
  display: flex;
  flex-direction: column;
}
.section2 .sec2-upper-box .sec2-rigth-box .sec2-pocket-list #pusher {
  margin-left: 7rem;
}
.section2
  .sec2-upper-box
  .sec2-rigth-box
  .sec2-pocket-list
  .pocket-item
  .pocket-title {
  display: flex;
  align-items: center;
  color: var(--color-navy);
  font-weight: 600;
  font-size: 1.5rem;
}
.section2
  .sec2-upper-box
  .sec2-rigth-box
  .sec2-pocket-list
  .pocket-item
  .pocket-title
  .pocket-title-img {
  width: 2.4rem;
}
.section2
  .sec2-upper-box
  .sec2-rigth-box
  .sec2-pocket-list
  .pocket-item
  .pocket-title
  .pocket-title-text {
  margin: 0 0 0 0.8rem;
}
.section2
  .sec2-upper-box
  .sec2-rigth-box
  .sec2-pocket-list
  .pocket-item
  .pocket-content {
  color: var(--color-navy);
  font-weight: 400;
  width: 28rem;
  margin: 1.5rem 0 2.5rem 0;
  font-size: 1.2rem;
}
.section2 .sec2-below-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-navy);
  height: 8.5rem;
  font-weight: 700;
  color: var(--color-white);
  font-size: 1.2rem;
  width: 100%;
  
}
.section2 .sec2-below-box .below-box-text {
  width: 32rem;
  text-align: left;
  margin-left: 10%;
}
.section2 .sec2-below-box .below-box-button {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 5px;
  height: 4rem;
  width: 13rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10% 0 0;
}
@media only screen and (max-width: 600px) {
  .section2 .sec2-upper-box {
    flex-direction: column-reverse;
  }
  .section2 .sec2-upper-box .sec2-rigth-box .sec2-rbox-title {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section2 .sec2-upper-box .sec2-rigth-box .sec2-rbox-title .main-title {
    font-size: 3.5rem;
    width: 45rem;
  }
  .section2 .sec2-upper-box .sec2-rigth-box .sec2-rbox-title .sub-title {
    font-size: 2.2rem;
    width: 45rem;
    margin-bottom: 4rem;
  }
  .section2 .sec2-upper-box .sec2-rigth-box .sec2-pocket-list {
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: auto;
  }
  .section2 .sec2-upper-box .sec2-rigth-box .sec2-pocket-list .pocket-item {
    width: 45rem;
    height: auto;
  }
  .section2
    .sec2-upper-box
    .sec2-rigth-box
    .sec2-pocket-list
    .pocket-item
    .pocket-title
    .pocket-title-text {
    font-size: 2.5rem;
    margin-left: 1.3rem;
  }
  .section2
    .sec2-upper-box
    .sec2-rigth-box
    .sec2-pocket-list
    .pocket-item
    .pocket-title
    .pocket-title-img {
    width: 4.3rem;
  }
  .section2 .sec2-upper-box .sec2-rigth-box .sec2-pocket-list #pusher {
    margin: 0;
  }
  .section2
    .sec2-upper-box
    .sec2-rigth-box
    .sec2-pocket-list
    .pocket-item
    .pocket-content {
    width: 39rem;
    height: auto;
    font-size: 2rem;
    margin: 2rem 0 2rem 5.6rem;
  }
  .section2 .sec2-below-box {
    flex-direction: column;
    height: 28rem;
  }
  .section2 .sec2-below-box .below-box-text {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    width: 40rem;
  }
  .section2 .sec2-below-box .below-box-button {
    margin: 0;
    width: 27rem;
    height: 6.5rem;
    font-size: 2.3rem;
    font-weight: 600;
  }
}

/* ///// Section 2 ///// */
/* ///// Section 2 ///// */
/* ///// Section 2 ///// */
/* ///// Section 2 ///// */
/* ///// Section 2 ///// */

/* ///// Section 3 ///// */
/* ///// Section 3 ///// */
/* ///// Section 3 ///// */
/* ///// Section 3 ///// */
/* ///// Section 3 ///// */
.section3 {
  margin-top: 9rem;
  z-index: -2;
}

.section3 .up-box {
  display: flex;
  justify-content: space-evenly;
}

.section3 .up-box .up-box-controller {
  display: flex;
  background-color: rgba(188, 205, 214, 0.15);
  position: relative;
  margin: 0 32rem 0 0;
  justify-content: flex-start;
  width: 65rem;
  margin-top: 5rem;
  
}
.section3 .up-box .up-box-controller .left-up-box {
  margin: 0 0 0 6rem;
  color: var(--color-navy);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 55rem;
}
.section3 .up-box .up-box-controller .left-up-box .left-upbox-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 5.5rem 0 1.5rem;
  width: 30rem;
  text-align: left;
}

.section3 .up-box .up-box-controller .left-up-box .left-upbox-content {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: left;
  width: 45.7rem;
}
.section3 .up-box .up-box-controller .left-up-box .left-upbox-button {
  background: #f8fafb 0% 0% no-repeat padding-box;
  border: 1px solid var(--color-red);
  border-radius: 5px;
  color: var(--color-red);
  height: 3.5rem;
  width: 13rem;
  left: 0;
  margin: 2rem 0 0.7rem 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.section3 .up-box .up-box-controller .left-up-box .left-upbox-text {
  font-weight: 400;
  font-style: italic;
  font-size: 1.3rem;
  text-align: left;
  margin: 0 0 4rem 2.7rem;
}
.section3 .up-box .up-box-controller .rigth-up-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(80%, -50%);
}
.section3 .up-box .up-box-controller .rigth-up-box .rigth-upbox-img {
  width: 40rem;
}
.section3 .centered-box {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 .centered-box .cbox-up {
  text-align: center;
  color: var(--color-navy);
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0 0 3rem 0;
}
.section3 .centered-box .cbox-dwn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: -3;
  width: 90%;
}
.section3 .centered-box .cbox-dwn .cbox-dwn-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 .centered-box .cbox-dwn .cbox-dwn-video .dwn-video-img {
  width: 25rem;
}
.section3 .centered-box .cbox-dwn .cbox-dwn-video .dwn-video-overlay {
  position: absolute;
  top: 0;
  /* background-color: rgba(0, 0, 255, 0.199); */
  width: 25rem;
  height: 15.4rem;
}
.section3
  .centered-box
  .cbox-dwn
  .cbox-dwn-video
  .dwn-video-overlay
  .overlay-img {
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section3
  .centered-box
  .cbox-dwn
  .cbox-dwn-video
  .dwn-video-overlay
  .overlay-text-box {
  position: absolute;
  bottom: 6%;
  left: 6%;
  color: var(--color-white);
  text-align: left;
  font-size: 1.5rem;
}
.section3
  .centered-box
  .cbox-dwn
  .cbox-dwn-video
  .dwn-video-overlay
  .overlay-text-box
  .overlay-sub-text {
  font-style: italic;
  font-size: 1.2rem;
}
.section3 .centered-box .dwn-video-coment {
  font-style: italic;
  font-size: 1.5rem;
  color: var(--color-navy);
  width: 20rem;
  margin-top: 2rem;
}
.section3 .centered-box .dwn-video-coment .video-coment-bold {
  font-weight: 700;
}
.section3 .centered-box .cbox-dwn .cbox-rigth {
  background-color: rgba(188, 205, 214, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--color-navy);
  width: 40rem;
  height: 26rem;
}
.section3 .centered-box .cbox-dwn .cbox-rigth .cbox-rigth-text span {
  font-weight: 700;
}
.section3 .centered-box .cbox-dwn .cbox-rigth .cbox-rigth-text {
  width: 20rem;
}
.section3 .cbox-down-box {
  display: flex;
  align-items: center;
  background-color: rgba(188, 205, 214, 0.15);
  margin-top: 15rem;
  justify-content: space-evenly;
  text-align: left;
  height: 30rem;
}
.section3 .cbox-down-box .down-left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-navy);
  margin-left: 5rem;
}

.section3 .cbox-down-box .down-left-box .dlbox-main-text {
  width: 25rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5rem;
}
.section3 .cbox-down-box .down-left-box .dlbox-sub-text {
  width: 38.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 2rem 0;
}
.section3 .cbox-down-box .down-left-box .dlbox-button {
  background-color: var(--color-teal);
  color: var(--color-white);
  border-radius: 5px;
  height: 3.5rem;
  width: 12.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10% 0 0;
  margin-bottom: 5rem;
}
.section3 .cbox-down-box .down-rigth-box .drbox-img {
  width: 60rem;
}
@media only screen and (max-width: 600px) {
  .section3 .up-box .up-box-controller {
    flex-direction: column-reverse;
    width: -webkit-fill-available;
    align-items: center;
    height: auto;
    background-color: var(--color-white);
    margin: 10rem 0 0 0;
  }
  .section3 .up-box .up-box-controller .left-up-box {
    margin: 0;
    min-width: 0;
  }
  .section3 .up-box .up-box-controller .left-up-box .left-upbox-title {
    width: 45rem;
    font-size: 3.5rem;
  }
  .section3 .up-box .up-box-controller .left-up-box .left-upbox-content {
    width: 45rem;
    font-size: 2rem;
    margin: 4.5rem 0;
  }

  .section3 .up-box .up-box-controller .rigth-up-box {
    position: unset;
    transform: translate(0px, 0px);
  }
  .section3 .up-box .up-box-controller .rigth-up-box .rigth-upbox-img {
    width: 45rem;
  }
  .section3 .centered-box .cbox-dwn {
    flex-direction: column-reverse;
    z-index: -2;
  }
  .section3 .centered-box .cbox-dwn .cbox-rigth {
    width: -webkit-fill-available;
    font-size: 3.5rem;
    height: 43rem;
    margin-bottom: 8rem;
  }
  .section3 .centered-box .cbox-dwn .cbox-rigth .cbox-rigth-text {
    width: 43rem;
  }
  .section3 .centered-box .cbox-dwn .cbox-dwn-video .dwn-video-img {
    width: 45rem;
  }
  .section3 .centered-box .cbox-dwn .cbox-dwn-video .dwn-video-overlay {
    width: 45rem;
    height: 27.8rem;
  }
  .section3
    .centered-box
    .cbox-dwn
    .cbox-dwn-video
    .dwn-video-overlay
    .overlay-img {
    width: 9.5rem;
  }
  .section3
    .centered-box
    .cbox-dwn
    .cbox-dwn-video
    .dwn-video-overlay
    .overlay-text-box {
    font-size: 2.5rem;
  }
  .section3
    .centered-box
    .cbox-dwn
    .cbox-dwn-video
    .dwn-video-overlay
    .overlay-text-box
    .overlay-sub-text {
    font-size: 2.1rem;
  }
  .section3 .centered-box .dwn-video-coment {
    font-size: 3.2rem;
    margin: 3rem 0 6rem 0;
    width: 35rem;
  }
  #vbox-organizer {
    display: flex;
    flex-direction: column;
    z-index: -2;
  }
  .section3 .cbox-down-box {
    margin-top: 4.5rem;
    height: auto;
    flex-direction: column-reverse;
  }
  .section3 .cbox-down-box .down-rigth-box {
    z-index: -2;
  }
  .section3 .cbox-down-box .down-rigth-box .drbox-img {
    width: 45rem;
    margin-top: 10rem;
    z-index: -2;
  }
  .section3 .cbox-down-box .down-left-box {
    align-items: center;
    margin: 0;
    z-index: -2;
  }
  .section3 .cbox-down-box .down-left-box .dlbox-main-text {
    font-size: 3.2rem;
    width: 45rem;
  }
  .section3 .cbox-down-box .down-left-box .dlbox-sub-text {
    font-size: 2rem;
    width: 45rem;
  }
  .section3 .cbox-down-box .down-left-box .dlbox-button {
    width: 25rem;
    height: 6rem;
    font-size: 2rem;
    margin: 3rem;
  }
}

/* ///// Section 3 ///// */
/* ///// Section 3 ///// */
/* ///// Section 3 ///// */
/* ///// Section 3 ///// */
/* ///// Section 3 ///// */

/* ///// Section 4 ///// */
/* ///// Section 4 ///// */
/* ///// Section 4 ///// */
/* ///// Section 4 ///// */
/* ///// Section 4 ///// */

.section4{
  background: transparent url('Background@2.png') 0% 0% no-repeat padding-box;
  background-size: cover;
  height: 70rem;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.section4 .sec4-top-box{
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 600;
  width: 40rem;
}
.section4 .sec4-dwn-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 15px;
  width: 35rem;
  height: 50rem;
  margin-top: 4rem;
}
.section4 .sec4-dwn-box .dwn-box-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50rem;
  align-items: center;
}
.section4 .sec4-dwn-box .dwn-box-form .form-top{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 3rem;

}
.section4 .sec4-dwn-box .dwn-box-form .form-center{
  display: flex;
  display: flex;
    flex-direction: column;
    
    width: 27rem;
}
.section4 .sec4-dwn-box .dwn-box-form .form-center .form-input{
  background-color: #fff;
  border: 1px solid #9FB1BB;
  border-radius: 10px;
  height: 3rem;
  margin: .5rem 0;
  position: relative;
  padding: 0 0 0 1.5rem;
}
.section4 .sec4-dwn-box .dwn-box-form .form-center .form-input img {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
}
.section4 .sec4-dwn-box .dwn-box-form .form-center .form-input .select{
  width: 25.8rem;
  height: 3rem;
  border-radius: 15px;
  position: relative;
}
.section4 .sec4-dwn-box .dwn-box-form .form-center .form-input .select .state{
  color: #757575;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 1.5rem;
  font-size: 1.5rem;
    font-weight: 500;
}
.section4 .sec4-dwn-box .dwn-box-form .form-center .form-input #state{
  -webkit-appearance: none;
  border: none;
  color: #757575;
  width: 25.75rem;
  height: 3rem;
  border-radius: 15px;
  background: transparent;
  padding: 0;
}
.section4 .sec4-dwn-box .dwn-box-form .form-center #field-s{
  padding: 0;
}
.section4 .sec4-dwn-box .dwn-box-form .form-center .form-input #state .form-option{
  background-color: var(--color-white);
}

.section4 .sec4-dwn-box .dwn-box-form .form-dwn{
  background-color: var(--color-orange);
  border-radius: 5px;
  width: 26.1rem;
  height: 4rem;
  color: #FFFFFF;
text-transform: uppercase;
font-weight: 700;
margin-top: 3rem;
}
@media only screen and (max-width: 600px){
  .section4 .sec4-top-box{
    font-size: 2.8rem;
    width: 45rem;
  }
  .section4{
    background: transparent url('./Background@2x.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 95rem;
    z-index: 6;
  }
  .section4 .sec4-dwn-box {
    width: 45rem;
    height: 70rem;
  }
  .section4 .sec4-dwn-box .dwn-box-form{
    width: 45rem;
    height: 70rem;
  }
  .section4 .sec4-dwn-box .dwn-box-form .form-top{
    font-size: 2.5rem;
  }
  .section4 .sec4-dwn-box .dwn-box-form .form-center{
    width: 40rem;
  }
  .section4 .sec4-dwn-box .dwn-box-form .form-center .form-input{
    height: 5rem;
  }
  /* .section4 .sec4-dwn-box .dwn-box-form .form-center #mob-form{

  } */
  .section4 .sec4-dwn-box .dwn-box-form .form-center .form-input .select{
    height: 5rem;
  }
  .section4 .sec4-dwn-box .dwn-box-form .form-center .form-input .select #state{
    height: 5rem;
    width: 38.8rem;

  }
  .section4 .sec4-dwn-box .dwn-box-form .form-dwn{
    height: 7rem;
    width: 38.8rem;
  }
}
/* ///// Section 4 ///// */
/* ///// Section 4 ///// */
/* ///// Section 4 ///// */
/* ///// Section 4 ///// */
/* ///// Section 4 ///// */

/* ///// Footer ///// */
/* ///// Footer ///// */
/* ///// Footer ///// */
/* ///// Footer ///// */
/* ///// Footer ///// */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-white2);
}
.footer .footer-up{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
  font-size: 1.3rem;
  color: black;
  font-weight: 400;
  margin: 5rem;
}
.footer .footer-up .f-logo{
  height: 6.5rem;
}
.footer .footer-up .fbox-heading{
  height: 6.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.footer .footer-up .fbox-list{
  list-style: none;
}
.footer .footer-up #aligner{
  margin-left: 1rem;
}
.footer .footer-up .fbox-list .fbox-list-item{
  margin: 0 0 1.5rem 0 ;
  
}
.footer .footer-up .footer-box .fbox-form{
  display: flex;
  
}
.footer .footer-up .footer-box .fbox-form .fbox-input{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px  solid #9FB1BB;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  height: 3rem;
  
}
.footer .footer-up .footer-box .fbox-form .fbox-button{
  background-color: var(--color-teal);
  width: 4rem;
  border-radius: 0 10px 10px 0;
}
.footer .footer-up .footer-box .social-icon{
  margin: 3.5rem 2rem 0 0;
}
.footer .footer-dwn .fdwn-text{
  color: #84898F;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 600px){
  .footer .footer-up{
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-up .footer-box {
    text-align: center;
    font-size: 2rem;
  }
  .footer .footer-up .footer-box div{
    position: relative;
    height: 13.5rem;
    width: 100%;
  }
  .footer .footer-up .f-logo{
    height: 12.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .footer .footer-up .fbox-heading{
    height: 4.5rem;
    margin-top: 4rem;
  }
  .footer .footer-up .footer-box .fbox-form .fbox-input{
    height: 5rem;
    width: 30rem;
  }
  .footer .footer-up .footer-box .fbox-form .fbox-button{
    width: 6rem;
  }
  .footer .footer-dwn .fdwn-text{
    font-size: 1.3rem;
  }
}


/* ///// Footer ///// */
/* ///// Footer ///// */
/* ///// Footer ///// */
/* ///// Footer ///// */
/* ///// Footer ///// */

/* ///// Submit ///// */
.submit-box {
  background-color: var(--color-white);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.submit-box .contract-submit{
  background: var(--color-red) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 30rem;
  height: 7rem;
  border: none;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: var(--color-white);
  cursor: pointer;
  margin: 2rem 0 0 0;
}
/* ///// Submit ///// */

